
@*<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>*@

<div id="block-dialog" title=@Resources.Global.Confirmation>
    <p>@Resources.Global.ConfirmAsk</p>
</div>

<div id="Unblock-dialog" title=@Resources.Global.Confirmation>
    <p>@Resources.Global.ConfirmAsk</p>
</div>
